/* Home.css */

.homepage {
    height: 100vh; /* 100% of the viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000; /* Set a background color or use a background image */
  }
  
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  